html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  img {
    width: 80%;  /* 100% da largura da janela */
    height: 80%; /* 100% da altura da janela */
   
  }

  .manutencao h1{
    text-align: center;
  }